{% extends "admin/base_site.html" %}
{% load i18n admin_static suit_menu suit_tags suit_includes %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="row">
            {% if user.is_superuser %}
                <div class="col-lg-3">
                    {% if app_list %}
                        {% for app in app_list %}
                            <div class="app-{{ app.app_label }} module">
                                <h3><a href="{{ app.app_url }}" class="section"
                                       title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{% trans app.name %}</a>
                                </h3>
                                <table class="table table-bordered table-form-like table-non-fluid">
                                    {% for model in app.models %}
                                        <tr class="model-{{ model.object_name|lower }}">
                                            <th scope="row" class="text-right">{{ model.name }}</th>

                                            {% if model.admin_url %}
                                                <td><a href="{{ model.admin_url }}"
                                                       class="changelink">{% trans 'Change' %}</a>
                                                </td>
                                            {% else %}
                                                <td>&nbsp;</td>
                                            {% endif %}

                                            {% if model.add_url %}
                                                <td><a href="{{ model.add_url }}" class="addlink glyphlink"><span
                                                    class="glyphicon glyphicon-plus-sign"></span>{% trans 'Add' %}
                                                </a>
                                                </td>
                                            {% else %}
                                                <td>&nbsp;</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{% trans "You don't have permission to edit anything." %}</p>
                    {% endif %}
                </div>
            {% endif %}

            {# Menu #}
            {% get_menu request as menu_list %}
            {% if menu_list %}
                {% for app in menu_list %}
                    <div class="col-md-3 col-lg-3 col-md-6">
                        <div class="list-group">

                            <li class="list-group-item">
                                {% if app.url %}
                                    <h5><a href="{{ app.url }}">{% trans app.label|capfirst %}</a></h5>
                                {% else %}
                                    <h5>{% trans app.label|capfirst %}</h5>
                                {% endif %}
                            </li>

                            {% for model in app.models %}
                                <a href="{{ model.url }}" class="list-group-item">{{ model.label }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {#  Custom blocks #}
            {% get_include_blocks as include_blocks %}
            {% if include_blocks %}
                {% for block in include_blocks %}
                    <div class="{{ block.css_class }}">
                        {% include block.template_path %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}